/* Base style for the button */
.button2 {
    -fx-background-color: #c23b3b; /* Green */
    -fx-text-fill: #000000;
    -fx-font-size: 20px;
    -fx-font-family: Titillium Web;
    -fx-padding: 10px 20px;

    -fx-background-radius: 30px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 10, 0.5, 0, 3);

}

/* Hover effect */
.button2:hover {
    -fx-background-color: #b91111; /* Darker Green */
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(gaussian, rgba(40, 40, 40, 0.75), 10, 0.5, 0, 3);
    -fx-scale-x: 1.1;              /* Scale up the button on hover */
    -fx-scale-y: 1.1;              /* Scale up the button on hover */


}

/* Hover effect for pressed state */
.button2:pressed {
    -fx-background-color: #851313; /* Even Darker Green */

}